.boxDoados {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.boxcard {
  width: 85vw;
  min-height: 60vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  h3 {
    text-align: center;
    font-size: 2vh;
    font-weight: 700;
    text-align: center;
  }

  article {
    border: solid 2px #005695;
    width: 19vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;

    img {
      height: 10vh;
    }
  }
}

//inicio do Responsivo

@media (max-width: 900px) {
  .boxDoados {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .boxcard {
    article {
      width: 27%;
    }
  }
}
@media (max-width: 760px) {
  .boxDoados {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .boxcard {
    article {
      border: solid 2px #005695;
      width: 31%;
    }
  }
}
@media (max-width: 501px) {
  .boxDoados {
    height: 65vh;
    justify-content: space-around;
  }
  .boxcard {
    article {
      width: 31%;
    }
    img {
      height: 7vh;
    }
    p {
      font-size: 10px;
      font-weight: 400;
    }
  }
  .boxcard {
    article {
      h3 {
        text-align: center;
        font-size: 2vh;
        font-weight: 700;
      }
    }
  }
}
